version: '3.7'
networks:
  freenet:
    name: freenet
    ipam:
      config:
        - gateway: 10.10.0.1
          subnet: 10.10.0.0/24

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - 19443:9443
    volumes:
      - /home/pi/docker/portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
        freenet:
#    labels:
#      traefik.enable: true
#      traefik.http.routers.portainer.entryPoints: https
#      traefik.http.routers.portainer.middlewares: auth@file,local-ipallowlist@file
#      traefik.http.services.portainer.loadbalancer.server.port: 9443
#      traefik.http.services.portainer.loadbalancer.server.scheme: https
    restart: unless-stopped
