networks:
  pw.internal:
    name: pw.internal
    ipam:
      config:
        - gateway: 10.10.0.1
          subnet: 10.10.0.0/24

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - 19443:9443
    volumes:
      - /mnt/ssdpool/appdata/portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
        pw.internal:
    labels:
      traefik.enable: true
      traefik.http.routers.portainer.entryPoints: https
      traefik.http.routers.portainer.middlewares: auth@file,allow-cdn-and-local@file
      traefik.http.services.portainer.loadbalancer.server.port: 9443
      traefik.http.services.portainer.loadbalancer.server.scheme: https
    restart: unless-stopped
