version: "3.4"

x-common-variables: &common-variables
  PUID: 1000
  PGID: 1000
  TZ: America/Indiana/Indianapolis
  
services:
  plex:
    image: linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VERSION=docker
    volumes:
      - /home/freender/config/plex/config:/config
      - /media/plex/movies:/movies
      - /media/plex/sport:/sport
      - /media/plex/tv:/tv
      - /media/plex/music:/music
      - /media/ssd/transcode:/transcode
    restart: always
    
  sonarr:
    image: linuxserver/sonarr:preview
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=8989
      - VIRTUAL_HOST=sonarr.${HOST_URL}
      - LETSENCRYPT_HOST=sonarr.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    volumes:
      - /home/freender/config/sonarr/config:/config
      - /media/plex:/plex
      - /media/ssd/incomplete:/incomplete-downloads
    ports:
      - 8989:8989
    restart: always
    
  radarr:
    image: linuxserver/radarr:nightly
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=7878
      - VIRTUAL_HOST=radarr.${HOST_URL}
      - LETSENCRYPT_HOST=radarr.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    volumes:
      - /home/freender/config/radarr/config:/config
      - /media/plex:/plex
      - /media/ssd/incomplete:/incomplete-downloads
    ports:
      - 7878:7878
    restart: always

  nzbget:
    image: linuxserver/nzbget
    container_name: nzbget
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=6789
      - VIRTUAL_HOST=nzbget.${HOST_URL}
      - LETSENCRYPT_HOST=nzbget.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    volumes:
      - /home/freender/config/nzbget/config:/config
      - /media/plex:/plex
      - /media/ssd/incomplete:/incomplete-downloads
    ports:
     - 6789:6789
    restart: always
     
#  sabnzbd:
#    image: linuxserver/sabnzbd
#    container_name: sabnzbd
#    environment:
#      - PUID=1000
#      - PGID=1000
#      - TZ=America/Indiana/Indianapolis
#      - VIRTUAL_PORT=8080
#      - VIRTUAL_HOST=sabnzbd.${HOST_URL}
#      - LETSENCRYPT_HOST=sabnzbd.${HOST_URL}
#      - LETSENCRYPT_EMAIL=${EMAIL}      
#    volumes:
#      - /home/freender/config/sabnzbd/config:/config
#      - /media/plex:/plex
#      - /media/ssd/incomplete:/incomplete-downloads
#    ports:
#      - 8080:8080
#    restart: always         
     
  jackett:
    image: linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=9117
      - VIRTUAL_HOST=jackett.${HOST_URL}
      - LETSENCRYPT_HOST=jackett.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    volumes:
      - /home/freender/config/jackett/config:/config
      - /media/plex:/plex
    ports:
      - 9117:9117
    restart: always
     
  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - UMASK_SET=022
      - WEBUI_PORT=8180
      - VIRTUAL_PORT=8180
      - VIRTUAL_HOST=qbittorrent.${HOST_URL}
      - LETSENCRYPT_HOST=qbittorrent.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}      
    volumes:
      - /home/freender/config/qbittorrent/config:/config
      - /media/plex:/plex
      - /media/ssd/incomplete:/incomplete-downloads
    ports:
      - 6881:6881
      - 6881:6881/udp
      - 8180:8180
    restart: always
       
  ombi:
    image: linuxserver/ombi
    container_name: ombi
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=3579
      - VIRTUAL_HOST=ombi.${HOST_URL}
      - LETSENCRYPT_HOST=ombi.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    volumes:
      - /home/freender/config/ombi/config:/config
    ports:
      - 3579:3579
    restart: always
    
  tautulli:
    image: linuxserver/tautulli
    container_name: tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=8181
      - VIRTUAL_HOST=tautulli.${HOST_URL}
      - LETSENCRYPT_HOST=tautulli.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    volumes:
      - /home/freender/config/tautulli/config:/config
      - /home/freender/config/plex/config/Library/Application Support/Plex Media Server/Logs:/logs
    ports:
      - 8181:8181
    restart: always
    
  lidarr:
    image: linuxserver/lidarr
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=8686
      - VIRTUAL_HOST=lidarr.${HOST_URL}
      - LETSENCRYPT_HOST=lidarr.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    volumes:
      - /home/freender/config/lidarr/config:/config
      - /media/plex:/plex
      - /media/ssd/incomplete:/incomplete-downloads
    ports:
      - 8686:8686
    restart: always
 
  hydra2:
    image: linuxserver/hydra2
    container_name: hydra2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=5076
      - VIRTUAL_HOST=hydra.${HOST_URL}
      - LETSENCRYPT_HOST=hydra.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    volumes:
      - /home/freender/config/hydra2/config:/config
      - /media/plex:/plex
      - /media/ssd/incomplete:/incomplete-downloads
    ports:
      - 5076:5076
    restart: always
 
  ddns-updater:
    image: qmcgaw/ddns-updater
    container_name: ddns-updater
    ports:
      - 8000:8000/tcp
    volumes:
      -  /home/freender/config/ddns-updater:/updater/data
    environment:
      - DELAY=300
      - ROOTURL=/
      - LISTENINGPORT=8000
      - LOGGING=human
      - NODEID=0
      - LOGLEVEL=error
      - VIRTUAL_PORT=8000
      - VIRTUAL_HOST=ddns.${HOST_URL}
      - LETSENCRYPT_HOST=ddns.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    restart: always 
   
  bazarr:
    image: linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - UMASK_SET=022 #optional
      - VIRTUAL_PORT=6767
      - VIRTUAL_HOST=bazarr.${HOST_URL}
      - LETSENCRYPT_HOST=bazarr.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    volumes:
      - /home/freender/config/bazarr/config:/config
      - /media/plex:/plex
    ports:
      - 6767:6767
    restart: always
    
  #gwl:
  #  image: freender/gwl:latest
  #  container_name: gwl
  #  environment:
  #    - PUID=1000
  #    - PGID=1000
  #    - TZ=America/Indiana/Indianapolis
  #    - VIRTUAL_PORT=6767
  #    - VIRTUAL_HOST=gwl.${HOST_URL}
  #    - LETSENCRYPT_HOST=gwlc.${HOST_URL}
  #    - LETSENCRYPT_EMAIL=${EMAIL}
  #  volumes:
  #    - /home/freender/config/gwl/config:/config
  #    - /home/freender/config/gwl/config/tmp:/tmp
  #  ports:
  #    - 1080:8080
  #  restart: always   
 
  prometheus:
    image: prom/prometheus:v2.1.0
    container_name: monitoring_prometheus
    restart: unless-stopped
    volumes:
      - /home/freender/config/prometheus/config:/etc/prometheus:rw
      - /home/freender/config/prometheus/data:/prometheus:rw
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    links:
      - cadvisor:cadvisor
      - alertmanager:alertmanager

  node-exporter:
    image: prom/node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: 
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100
    restart: always

  alertmanager:
    image: prom/alertmanager
    ports:
      - 9093:9093
    volumes:
      - /home/freender/config/alertmanager/config:/etc/alertmanager
    restart: always
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
      
  cadvisor:
    image: google/cadvisor:latest
    container_name: monitoring_cadvisor
    restart: unless-stopped
    ports:
      - 18080:8080 
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/snap/docker/:/var/lib/docker:ro

  grafana:
    image: grafana/grafana:latest
    container_name: monitoring_grafana
    restart: unless-stopped
    ports:
      - 3000:3000  
    links:
      - prometheus:prometheus
    #volumes:
    #  - /home/freender/config/grafana/config:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=MYPASSWORT
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_DOMAIN=myrul.com
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=smtp.gmail.com:587
      - GF_SMTP_USER=myadrress@gmail.com
      - GF_SMTP_PASSWORD=mypassword
      - GF_SMTP_FROM_ADDRESS=myaddress@gmail.com
 
 
  db:
    image: mariadb
    container_name: ombi_db
    restart: always
    volumes:
      - /home/freender/config/db/config:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=6767
      - VIRTUAL_HOST=adminer.${HOST_URL}
      - LETSENCRYPT_HOST=adminer.${HOST_URL}
      - LETSENCRYPT_EMAIL=${EMAIL}
    ports:
      - 8080:8080
 
  nginx-web:
    image: nginx
    labels:
        com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    container_name: ${NGINX_WEB:-nginx-web}
    restart: always
    ports:
      - "${IP:-0.0.0.0}:${DOCKER_HTTP:-80}:80"
      - "${IP:-0.0.0.0}:${DOCKER_HTTPS:-443}:443"
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./data}/htpasswd:/etc/nginx/htpasswd:ro
    logging:
      driver: ${NGINX_WEB_LOG_DRIVER:-json-file}
      options:
        max-size: ${NGINX_WEB_LOG_MAX_SIZE:-4m}
        max-file: ${NGINX_WEB_LOG_MAX_FILE:-10}

  nginx-gen:
    image: jwilder/docker-gen
    command: -notify-sighup ${NGINX_WEB:-nginx-web} -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: ${DOCKER_GEN:-nginx-gen}
    restart: always
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./data}/htpasswd:/etc/nginx/htpasswd:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
    logging:
      driver: ${NGINX_GEN_LOG_DRIVER:-json-file}
      options:
        max-size: ${NGINX_GEN_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_GEN_LOG_MAX_FILE:-10}

  nginx-letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: ${LETS_ENCRYPT:-nginx-letsencrypt}
    restart: always
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      NGINX_DOCKER_GEN_CONTAINER: ${DOCKER_GEN:-nginx-gen}
      NGINX_PROXY_CONTAINER: ${NGINX_WEB:-nginx-web}
    logging:
      driver: ${NGINX_LETSENCRYPT_LOG_DRIVER:-json-file}
      options:
        max-size: ${NGINX_LETSENCRYPT_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_LETSENCRYPT_LOG_MAX_FILE:-10}

networks:
  default:
    external:
      name: ${NETWORK:-webproxy}