version: "3"
services:
  plex:
    image: linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - /home/freender/config/plex/config:/config
      - /media/plex/movies:/movies
      - /media/plex/sport:/sport
      - /media/plex/tv:/tv
      - /media/ssd/transcode:/transcode
    restart: unless-stopped
    
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=8989
      - VIRTUAL_HOST=sonarr.freender.pw
      - LETSENCRYPT_HOST=sonarr.freender.pw
      - LETSENCRYPT_EMAIL=freender.mail@gmail.com
    volumes:
      - /home/freender/config/sonarr/config:/config
      - /media/plex/tv:/tv
      - /media/plex/downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
    
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=7878
      - VIRTUAL_HOST=radarr.freender.pw
      - LETSENCRYPT_HOST=radarr.freender.pw
      - LETSENCRYPT_EMAIL=freender.mail@gmail.com
    volumes:
      - /home/freender/config/radarr/config:/config
      - /media/plex/movies:/movies
      - /media/plex/sport:/sport
      - /media/plex/downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped
    
  nzbget:
    image: linuxserver/nzbget
    container_name: nzbget
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=6789
      - VIRTUAL_HOST=nzbget.freender.pw
      - LETSENCRYPT_HOST=nzbget.freender.pw
      - LETSENCRYPT_EMAIL=freender.mail@gmail.com
    volumes:
      - /home/freender/config/nzbget/config:/config
      - /media/plex/downloads:/downloads
      - /media/ssd/incomplete:/intermediate
    ports:
      - 6789:6789
    restart: unless-stopped
    
  jackett:
    image: linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - RUN_OPTS='--ProxyConnection=us2611.nordvpn.com:1080' `#optional` \
      - VIRTUAL_PORT=9117
      - VIRTUAL_HOST=jackett.freender.pw
      - LETSENCRYPT_HOST=jackett.freender.pw
      - LETSENCRYPT_EMAIL=freender.mail@gmail.com
    volumes:
      - /home/freender/config/jackett/config:/config
      - /media/plex/downloads:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped
    
  deluge:
    image: linuxserver/deluge
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK_SET=022
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=8112
      - VIRTUAL_HOST=deluge.freender.pw
      - LETSENCRYPT_HOST=deluge.freender.pw
      - LETSENCRYPT_EMAIL=freender.mail@gmail.com
    volumes:
      - /home/freender/config/deluge/config:/config
      - /media/plex/downloads:/downloads
    ports:
      - 8112:8112      
    restart: unless-stopped
       
  ombi:
    image: linuxserver/ombi
    container_name: ombi
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=3579
      - VIRTUAL_HOST=ombi.freender.pw
      - LETSENCRYPT_HOST=ombi.freender.pw
      - LETSENCRYPT_EMAIL=freender.mail@gmail.com
    volumes:
      - /home/freender/config/ombi/config:/config
    ports:
      - 3579:3579
    restart: unless-stopped
    
  tautulli:
    image: linuxserver/tautulli
    container_name: tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=8181
      - VIRTUAL_HOST=tautulli.freender.pw
      - LETSENCRYPT_HOST=tautulli.freender.pw
      - LETSENCRYPT_EMAIL=freender.mail@gmail.com
    volumes:
      - /home/freender/config/tautulli/config:/config
      - /home/freender/config/plex/config/Library/Application Support/Plex Media Server/Logs:/logs
    ports:
      - 8181:8181
    restart: unless-stopped
    
  lidarr:
    image: linuxserver/lidarr
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Indiana/Indianapolis
      - VIRTUAL_PORT=8686
      - VIRTUAL_HOST=lidarr.freender.pw
      - LETSENCRYPT_HOST=lidarr.freender.pw
      - LETSENCRYPT_EMAIL=freender.mail@gmail.com
    volumes:
      - /home/freender/config/lidarr/config:/config
      - /media/plex/music:/music
      - /media/plex/downloads:/downloads
    ports:
      - 8686:8686
    restart: unless-stopped
  
  ddns-updater:
    build: https://github.com/qdm12/ddns-updater.git
    image: qmcgaw/ddns-updater
    container_name: ddns-updater
    ports:
      - 8000:8000/tcp
    environment:
      - DELAY=300
      - ROOTURL=/
      - LISTENINGPORT=8000
      - RECORD1=freender.pw,deluge,namecheap,provider,6f541807e6d146d29a424a82c7b0c873
      - RECORD2=freender.pw,jackett,namecheap,provider,6f541807e6d146d29a424a82c7b0c873
      - RECORD3=freender.pw,lidarr,namecheap,provider,6f541807e6d146d29a424a82c7b0c873
      - RECORD4=freender.pw,nzbget,namecheap,provider,6f541807e6d146d29a424a82c7b0c873   
      - RECORD5=freender.pw,ombi,namecheap,provider,6f541807e6d146d29a424a82c7b0c873
      - RECORD6=freender.pw,radarr,namecheap,provider,6f541807e6d146d29a424a82c7b0c873
      - RECORD7=freender.pw,sonarr,namecheap,provider,6f541807e6d146d29a424a82c7b0c873
      - RECORD8=freender.pw,tautulli,namecheap,provider,6f541807e6d146d29a424a82c7b0c873
      - RECORD9=freender.pw,ddns,namecheap,provider,6f541807e6d146d29a424a82c7b0c873
      - VIRTUAL_PORT=8000
      - VIRTUAL_HOST=ddns.freender.pw
      - LETSENCRYPT_HOST=ddns.freender.pw
      - LETSENCRYPT_EMAIL=freender.mail@gmail.com
    restart: always     
    
  nginx-web:
    image: nginx
    labels:
        com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    container_name: ${NGINX_WEB:-nginx-web}
    restart: always
    ports:
      - "${IP:-0.0.0.0}:${DOCKER_HTTP:-80}:80"
      - "${IP:-0.0.0.0}:${DOCKER_HTTPS:-443}:443"
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./data}/htpasswd:/etc/nginx/htpasswd:ro
    logging:
      driver: ${NGINX_WEB_LOG_DRIVER:-json-file}
      options:
        max-size: ${NGINX_WEB_LOG_MAX_SIZE:-4m}
        max-file: ${NGINX_WEB_LOG_MAX_FILE:-10}

  nginx-gen:
    image: jwilder/docker-gen
    command: -notify-sighup ${NGINX_WEB:-nginx-web} -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: ${DOCKER_GEN:-nginx-gen}
    restart: always
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./data}/htpasswd:/etc/nginx/htpasswd:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
    logging:
      driver: ${NGINX_GEN_LOG_DRIVER:-json-file}
      options:
        max-size: ${NGINX_GEN_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_GEN_LOG_MAX_FILE:-10}

  nginx-letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: ${LETS_ENCRYPT:-nginx-letsencrypt}
    restart: always
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      NGINX_DOCKER_GEN_CONTAINER: ${DOCKER_GEN:-nginx-gen}
      NGINX_PROXY_CONTAINER: ${NGINX_WEB:-nginx-web}
    logging:
      driver: ${NGINX_LETSENCRYPT_LOG_DRIVER:-json-file}
      options:
        max-size: ${NGINX_LETSENCRYPT_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_LETSENCRYPT_LOG_MAX_FILE:-10}

networks:
  default:
    external:
      name: ${NETWORK:-webproxy}