networks:
  macvlan_eth0:
    external: true
  pw.internal: 
    name: pw.internal
    external: true
    
services:        
  watchtower:
    container_name: watchtower
    restart: always
    environment:
      WATCHTOWER_SCHEDULE: 0 0 9 * * ?
      TZ: "America/New_York"
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_DEBUG: "false"
    image: ghcr.io/nicholas-fedor/watchtower:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      
  geoipupdate:
    container_name: geoipupdate
    image: ghcr.io/maxmind/geoipupdate
    user: 1000:1000
    restart: always
    environment:
      TZ: 'America/New_York' 
      GEOIPUPDATE_ACCOUNT_ID: ${GEOIPUPDATE_ACCOUNT_ID}
      GEOIPUPDATE_LICENSE_KEY: ${GEOIPUPDATE_LICENSE_KEY}
      GEOIPUPDATE_EDITION_IDS: 'GeoLite2-ASN GeoLite2-City GeoLite2-Country'
      GEOIPUPDATE_FREQUENCY: '72'
    networks:
        pw.internal:
    volumes:
      - /mnt/ssdpool/appdata/geoipupdate:/usr/share/GeoIP

  mwbot:
    image: ghcr.io/freender/mwbot:main
    user: 1000:1000
    #build: https://github.com/freender/MWBot.git
    container_name: mwbot
    environment:
      - TZ=America/New_York
      - TOKEN=${TELEGRAM_TOKEN} # Set telegram bot token
      - KUMA_HOST=${UPTIME_HOST} # UptimeKuma IP address and port
      - KUMA_LOGIN=${UPTIME_LOGIN} # UptimeKuma Login
      - KUMA_PASSWORD=${UPTIME_PASSWORD} # UptimeKuma Password
      - KUMA_MW_ID=3 # ID of MW you would like to start
      - CHAT_ID=${TELEGRAM_CHATID} # Set telegram chat id
      - OWNER=${TELEGRAM_OWNER} # Set user id
      - TOKEN_STAGING=${TELEGRAM_TOKEN_STAGING} # Debug - Set telegram bot token
      - WAF_TOKEN=${MW_BOT_WAF_TOKEN} # Debug - WAF token
      - WAF_ZONE=${MW_BOT_WAF_ZONE} # Debug - WAF zone
      - WAF_RULESET=${MW_BOT_WAF_RULESET} # Debug - WAF ruleset
      - WAF_RULEID=${MW_BOT_WAF_RULEID} # Debug - WAF ruleid
      - MW_BOT_ASN_DEFAULT=${MW_BOT_ASN_DEFAULT} # Debug - WAF ruleid
      - CDN_URL=${CDN_URL} # Debug - CDN URL
      - TELEGRAM_AUTH_USERS=${TELEGRAM_AUTH_USERS} # Debug - TELEGRAM_AUTH_USERS
    restart: always
    networks:
        pw.internal:
    # temp volume for debug
    volumes:
      - /mnt/ssdpool/appdata/mwbot/MWBot:/code/staging
      - /mnt/ssdpool/appdata/mwbot/config:/config

  cloudfirewall:
    image: ghcr.io/freender/cloudfirewall:main
    #build: https://github.com/freender/cloudfirewall.git
    container_name: cloudfirewall
    environment:
      - TZ=America/New_York
      - WAF_TOKEN=${CF_BOT_WAF_TOKEN} # Cloudflare WAF token
      - WAF_ZONE=${CF_BOT_WAF_ZONE} # Cloudflare WAF zone
      - WAF_RULESET=${CF_BOT_WAF_RULESET} # Cloudflare WAF ruleset
      - WAF_RULEID=${CF_BOT_WAF_RULEID} # Cloudflare WAF rule id
    restart: always
    networks:
        pw.internal:
